.dashboard-box {
  background-color: rgb(229, 243, 241);
  text-align: center;
  min-height: 100vh;
  h1 {
    margin: 0;
    font-size: 2.5rem;
    padding: 3rem $m-size;
  }

  img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: #4cb69f;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}
