.box-header {
  text-align: center;
  margin: 0;
  background-color: #4cb69f;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.box-header__nav {
  display: flex;
}

.box-header a {
  padding: 1.3rem 2rem;
  margin: 0;
}

.menu-item {
  text-decoration: none;
  color: white;
  letter-spacing: 0.12rem;
  font-weight: bold;
}

.logout-button {
  border: none;
  outline: none;
  background-color: #4cb69f;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
}

.logout-button:hover,
.menu-item:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .header-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
  }
}
