.wrapperDiv {
  text-align: center;
  margin: 0;
  background-color: #4cb69f;
}

.containerDiv {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav a {
  padding: 1.1rem 0.9rem;
  margin: 0;
  font-size: 1rem;
}

.menuItem {
  text-decoration: none;
  color: white;
  letter-spacing: 0.12rem;
  font-weight: bold;
}

.donate {
  background-color: #f96854;
}

.button {
  border: none;
  outline: none;
  background-color: #4cb69f;
  font-weight: bold;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.button:hover,
.menuItem:hover {
  cursor: pointer;
}

.active {
  color: #4cb69f;
  background-color: white;
}

@media (min-width: 360px) {
  .nav a,
  .button {
    font-size: 1.2rem;
    padding: 1.1rem 1.1rem;
  }
}

@media (min-width: 411px) {
  .nav a,
  .button {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .containerDiv {
    width: 80%;
    max-width: 800px;
    margin: auto;
  }

  .nav a {
    padding: 1.3rem 2rem;
  }
}
