.div {
  flex: 1;
  display: flex;
}

.input {
  width: 100%;
}

.input::placeholder {
  text-align: center;
}

@media (min-width: 450px) {
  .div {
    width: 50%;
    margin-left: 1rem;
  }

  .input {
    height: 5rem;
  }
}
