.div {
  background-color: #f2fdfb;
  text-align: center;
  flex: 1;
}

.h1 {
  margin: 0;
  font-size: 2.5rem;
  padding: 3rem 1.6rem;
}

.p {
  font-size: 2rem;
}

.a {
  text-decoration: none;
  color: #4cb69f;
  font-weight: bold;
  font-size: 2rem;
}

.img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
