.div {
  border: 1px solid #aa76f8;
  border-radius: 2rem;
  margin: 1.5rem 1.5rem 0 0;
  max-width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.a {
  text-decoration: none;
}

.h1 {
  margin: 1rem 0;
  color: #3b4953;
  font-size: 2rem;
}

.p {
  margin: 0;
  word-wrap: break-word;
}

@media (min-width: 450px) {
  .h1 {
    font-size: 2.5rem;
  }

  .div {
    max-width: 200px;
  }
}
