html {
  font-size: 62.5%;
  margin: 0;
  background-color: #dddcd8;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: $m-size;
}

.menu-item.is-active {
  color: #4cb69f;
  background-color: white;
}

.todo-input {
  outline: none;
  border: none;
  padding: 1rem;
  margin-bottom: 0.4rem;
  color: $dark-grey;
  border-radius: 1rem;
}

.todo-input::placeholder {
  color: #ccc;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) {
  .todo-input {
    padding: 1.5rem;
    flex: 1;
    margin-right: 1rem;
  }
}
